@import url('https://fonts.google.com/share?selection.family=Montserrat:ital,wght@0,100..900;1,100..900')
:root{
    gray: #c6c8db;
    near white: #a9b8c3;
    darker blue: #4f877e;
    muted blue: #6e9894;
}
*{
    margin: 0;
    padding: 0;
}
html{
    font-family: Montserrat, Segoe UI, sans-serif;
    font-size: 12pt;
    color: #FFFFFF;
    text-align: center;
}
body{
    min-height: 100vh;
    background-image: url(backgroundimg.jpg);
    background-size: cover;
    background-position: right;
    overflow: hidden;
}
.wrapper{
    box-sizing: border-box;
    background-color: #a9b8c3;
    height: 100vh;
    width: max(40%, 600px);
    padding: 10px;
    border-radius: 0 20px 20px 0;
    opacity: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
}
form{
    width: min(400px, 100%);
    margin-top: 20px;
    margin-border: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
form > div{
    width: 100%
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
form label{
    flex-shrink: 0;
    height: 40px;
    width: 40px;
    background-color: #4f877e;
    color: #6e9894;
    border-radius: 15px 0 0 15px;
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
}
form input{
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 40px;
    padding: 1em;
    font: inherit;
    border-radius: 0 15px 15px 0;
    border: none;
    background-color: #c6c8db;
}
form button{
    margin-top: 10px;
    border: none;
    border-radius: 1000px;
    padding: 0.9em 4em;
    background-color: #4f877e;
    color: #FFFFFF;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}
p{
    margin-top: 10px;
    font-size: 10pt;
    color: #FFFFFF;
}
a{
    color: #4f877e;
}
form div.incorrect label{
    background-color: #FFFFFF;
}

form div.incorrect input{
    border-color: #FFFFFF;
}

